* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: filter 1s;
}

.above-rectangle {
    position: absolute;
    top: calc(50% - 362px); /* Increased size for 250% scale */
    left: 50%;
    width: 637px; /* Increased size */
    height: 137px; /* Increased size */
    transform: translateX(-50%);
    z-index: 1;
    border-radius: 6px 6px 0 0;
    object-fit: cover;
}

.main-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 637px; /* Increased size */
    height: 240px; /* Increased size */
    background-color: rgba(48, 61, 98, 0.4); /* Darker background with higher opacity */
    border-radius: 0 0 6px 6px;
    transform: translate(-50%, -235%); /* Increased size */
    z-index: 1;
    backdrop-filter: blur(1.25px);
    -webkit-backdrop-filter: blur(1.25px);
}

.timezone-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 637px; /* Increased size */
    height: 78px; /* Increased size */
    background-color: rgba(48, 61, 98, 0.4); /* Darker background with higher opacity */
    border-radius: 5px;
    transform: translate(-50%, 82.5%); /* Increased size */
    z-index: 1;
    backdrop-filter: blur(1.25px);
    -webkit-backdrop-filter: blur(1.25px);
}

.discord-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 637px; /* Increased size */
    height: 105px; /* Increased size */
    background-color: rgba(48, 61, 98, 0.4); /* Darker background with higher opacity */
    border-radius: 5px;
    transform: translate(-50%, 273%); /* Increased size */
    z-index: 1;
    backdrop-filter: blur(1.25px);
    -webkit-backdrop-filter: blur(1.25px);
}

.audio-player {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 637px; /* Increased size */
    height: 122px; /* Increased size */
    background-color: rgba(48, 61, 98, 0.4); /* Darker background with higher opacity */
    border-radius: 5px;
    transform: translate(-50%, 474%); /* Increased size */
    z-index: 1;
    backdrop-filter: blur(1.25px);
    -webkit-backdrop-filter: blur(1.25px);
}

.profile-circle {
    position: absolute;
    top: -62px; /* Increased size */
    left: 50%;
    width: 125px; /* Increased size */
    height: 125px; /* Increased size */
    border-radius: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem; /* Increased font size */
    color: white;
    text-align: center;
    display: none;
    opacity: 1;
    transition: opacity 1s;
}
